
#add_new_lock_bs{
	display : none;
}

.clear{
	clear:both;
}	

.lock_table{
	clear:both;

}

/* .lac_input{ */
/* 	width:30%; */
/* 	float:left; */
/* 	} */
	
/* .cid_input{ */
/* 	width:30%; */
/* 	float:right; */
/* 	} */