/* #map_home{ */
/* 	padding-top :0px; */
/* 	padding-bottom :0px; */
/* 	padding:0px; */
/* 	width: 100%; height: 100%; */
/* } */

.map_show_page{
	padding-top :0px;
	padding-bottom :0px;
	padding:0px;
	width: 100%; height: 100%;
}

.map_content {
	padding :0px;
	position:relative;
	width: 100%; height: 100%;
	overflow-x: hidden; overflow-y: hidden; 
}

/* #map_canvas { */
/* position: relative; left: 0px; top: 0px; overflow-x: hidden; */
/* overflow-y: hidden; width: 100%; height: 100%; z-index: 0; */
/* padding : 0px; */
/* } */

.map_canvas {
position: relative; left: 0px; top: 0px; overflow-x: hidden;
overflow-y: hidden; width: 100%; height: 100%; z-index: 0;
padding : 0px;
}

#map_search{
	padding-top :0px;
	padding-bottom :0px;
	padding:0px;
	width: 100%; height: 100%;
}

#map_canvas_search {
position: relative; left: 0px; top: 0px; overflow-x: hidden;
overflow-y: hidden; width: 100%; height: 100%; z-index: 0;
padding : 0px;
}

.wrapper {
width: 100%;
margin: 20px auto 20px auto;
}

ul.gallery {
margin: 0;
padding: 0;
list-style: none;
}

ul.gallery li {
display: inline-block;
width: 80px;
height:100px;
margin: 0 10px 20px 0;
/* border: 1px solid #000; */
position: relative;
-webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
ul.gallery img {
display: block;
margin:0 auto 0 auto;
}
ul.gallery span {
position: absolute;
bottom: 0;
left: 10px;
/* background-color: rgba(0,0,0,0.7); */
color: rgb(0,0,0);
width: 70px;
padding: 0px;
margin:0 auto 0 auto;
}
